In [1]:
import pandas as pd
import sys
sys.path.append("../modules/")
from Seed_Generator import Seed_Generator
df_top_tracks = pd.read_csv('../participant data/user spotify data/top_tracks.csv')
sg = Seed_Generator()

Time to start generating seeds!
Seed_Generator.data set as your dataframe.

In [2]:
u = list(sg.data['user_id'].unique())[0]
sg.data[sg.data['user_id'] == u]['genre_name']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
30       NaN
31       NaN
32       NaN
1914    jazz
Name: genre_name, dtype: object

In [3]:
diverse_tracks = dict()
for user_id in list(df_top_tracks['user_id'].unique()):
    diverse_tracks.update(sg.get_track_seeds(df_top_tracks, user_id, True, 3))
len(diverse_tracks)

47

In [4]:
non_diverse_tracks = dict()
for user_id in list(df_top_tracks['user_id'].unique()):
    non_diverse_tracks.update(sg.get_track_seeds(df_top_tracks, user_id, False, 3))
len(non_diverse_tracks)

47

In [5]:
weird_diverse_users = [key for key, value in diverse_tracks.items() if value == '']
weird_diverse_users

['93c25a1d7af16a3f513dc53f3d1334c4a7f2df82925e215c110a7ba541c0bb9f',
 '32dbeaad7fa194eadff4c90a20d504390d86bcfcc93c2a6ce1826b6d0d3c2979']

In [6]:
weird_nondiverse_users = [key for key, value in non_diverse_tracks.items() if value == '']
weird_nondiverse_users

['d28708a363b58062087293f779256fffa38fdd56c1f79d5e2855dfaa7a04f4e6',
 '1418fcc80d2e4febb58f44fcd93ff755df16b64edfa90076ab6e6707d79453ba',
 '93c25a1d7af16a3f513dc53f3d1334c4a7f2df82925e215c110a7ba541c0bb9f',
 '2ef41e03eea7359470b492771ef78ac792437960561b744f2c2bf6accaca15f6']

In [7]:
df_top_tracks[df_top_tracks['user_id'].isin(weird_diverse_users)]
# So these get weird diverse results because they only have 2 or 3 songs, not 45 songs
# TODO add handling for this, too few songs

,user_id,track_id,time_period,timestamp,position
3153,93c25a1d7af16a3f513dc53f3d1334c4a7f2df82925e21...,5GQAHsTo4DI71QLAXUo3DV,long,1.668428e+09,0
3154,93c25a1d7af16a3f513dc53f3d1334c4a7f2df82925e21...,46N0cSUeoKfdGOGG852Jk1,long,1.668428e+09,1
3155,32dbeaad7fa194eadff4c90a20d504390d86bcfcc93c2a...,7ef4DlsgrMEH11cDZd32M6,medium,1.668431e+09,0
3704,32dbeaad7fa194eadff4c90a20d504390d86bcfcc93c2a...,7ef4DlsgrMEH11cDZd32M6,short,1.668431e+09,0
3705,32dbeaad7fa194eadff4c90a20d504390d86bcfcc93c2a...,7ef4DlsgrMEH11cDZd32M6,long,1.668431e+09,0

In [8]:
df_top_tracks[df_top_tracks['user_id'].isin(weird_nondiverse_users)]['time_period'].unique()
# TODO change to handle: current code gets only 'short' time_period

array(['medium', 'long'], dtype=object)

In [9]:
sg.data

,user_id,track_id,time_period,timestamp,position,rec_id,rank,baseline_ranking,personalized_ranking,score,weight,genre_name,start_ts
0,12f2e84ef897c8e32d9919871acbe861b4ac4b5ef26117...,5hF2LnbkpnXCkksMSeWcxZ,short,1.666491e+09,19.0,1fed6b23-2c61-463a-9c82-e3f969684c53,205.0,1110.0,652.0,2252.60,0.2,NaN,NaN
1,12f2e84ef897c8e32d9919871acbe861b4ac4b5ef26117...,3xKsf9qdS1CyvXSMEid6g8,long,1.666491e+09,14.0,1fed6b23-2c61-463a-9c82-e3f969684c53,183.0,2966.0,27.0,1774.50,0.5,NaN,NaN
2,12f2e84ef897c8e32d9919871acbe861b4ac4b5ef26117...,5hF2LnbkpnXCkksMSeWcxZ,short,1.666491e+09,19.0,60bb2af8-f21e-4d0a-9044-0661d40ac018,205.0,1110.0,652.0,2252.60,0.2,NaN,NaN
3,12f2e84ef897c8e32d9919871acbe861b4ac4b5ef26117...,3xKsf9qdS1CyvXSMEid6g8,long,1.666491e+09,14.0,60bb2af8-f21e-4d0a-9044-0661d40ac018,183.0,2966.0,27.0,1774.50,0.5,NaN,NaN
4,12f2e84ef897c8e32d9919871acbe861b4ac4b5ef26117...,5hF2LnbkpnXCkksMSeWcxZ,short,1.666491e+09,19.0,b76e977a-eab8-4dac-b729-96bcde52d9b0,66.0,1110.0,929.5,2215.15,0.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,2152111cf613aa1265823312e10228041da0416221a3df...,NaN,NaN,NaN,NaN,a0145f62-ff58-4471-9ed5-ced6147329b3,NaN,NaN,NaN,NaN,NaN,classical,1.668466e+09
1961,811dc65452d1be20e073f385ee6f0df18ee97d54f8edc1...,NaN,NaN,NaN,NaN,cee8c8b9-c34e-4f7d-9caa-70dcbfec6907,NaN,NaN,NaN,NaN,NaN,rap,1.668500e+09
1962,811dc65452d1be20e073f385ee6f0df18ee97d54f8edc1...,NaN,NaN,NaN,NaN,dfe44ec8-febb-410b-8f54-025988510466,NaN,NaN,NaN,NaN,NaN,rnb,1.668501e+09
1963,5851c21c9e3bb3518644ee6b6af3c51c20649fa456449f...,NaN,NaN,NaN,NaN,40e99946-a5c1-4201-9fec-3561c35a972a,NaN,NaN,NaN,NaN,NaN,folk,1.668501e+09
1964,508580d6e4f48b7c202c93bc3a485a116fb850b65102f5...,NaN,NaN,NaN,NaN,fdc7c9b5-187c-43e1-8084-0537b4fc1877,NaN,NaN,NaN,NaN,NaN,classical,1.668502e+09

In [10]:
sg.data['genre_name'].unique()

array([nan, 'rap', 'pop-rock', 'electronic', 'country', 'new-age',
       'reggae', 'latin', 'classical', 'jazz', 'rnb', 'blues',
       'avant-garde', 'folk'], dtype=object)

In [11]:
diverse_genres = dict()
user_ids = list(sg.data['user_id'].unique())
for user_id in user_ids:
    diverse_genres.update(sg.get_genre_seeds(sg.data, user_id, True, 2))
len(diverse_genres)

final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2

45

In [12]:
diverse_genres[list(diverse_genres.keys())[2]]

'classical,rnb'

In [13]:
non_diverse_genres = dict()
for user_id in list(sg.data['user_id'].unique()):
    non_diverse_genres.update(sg.get_genre_seeds(sg.data, user_id, False, 2))
len(non_diverse_genres)

final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2
final length: 2

45

In [14]:
def getDF(diverse):
    if diverse:
        tracks_df = pd.DataFrame.from_dict(diverse_tracks, orient='index', columns=['track_seeds']).reset_index(level=0).rename({'index':'user_id'}, axis = 'columns')
        genre_df = pd.DataFrame.from_dict(diverse_genres, orient='index', columns=['genre_seeds']).reset_index(level=0).rename({'index':'user_id'}, axis = 'columns')
    else:
        tracks_df = pd.DataFrame.from_dict(non_diverse_tracks, orient='index', columns=['track_seeds']).reset_index(level=0).rename({'index':'user_id'}, axis = 'columns')
        genre_df = pd.DataFrame.from_dict(non_diverse_genres, orient='index', columns=['genre_seeds']).reset_index(level=0).rename({'index':'user_id'}, axis = 'columns')
        
    return pd.merge(tracks_df, genre_df)

In [16]:
# Save them
getDF(True).to_csv('../participant data/seeds_diverse.csv')
getDF(False).to_csv('../participant data/seeds_non_diverse.csv')